.navigation
    input.navigation__checkbox(type="checkbox" id="navi-toggle")
    label.navigation__button(for="navi-toggle")
        span.navigation__icon &nbsp;

    .navigation__background &nbsp;

    nav.navigation__nav
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="/about" class="navigation__link">About</a></li>
            <li class="navigation__item"><a href="/construction" class="navigation__link">Careers</a></li>
            <li class="navigation__item"><a href="/newsandprojects" class="navigation__link">Newsroom & Projects</a></li>
            <li class="navigation__item"><a href="/contact" class="navigation__link">Contact</a></li>
        </ul>



