extends base

block content
    header.header.header--bg-about
        .header__logo-box
            img.header__logo(src="img/logo_white_doll.png" alt="logo")

        .section-about-us
            .text-box
                .u-center-text.u-margin-bottom-big
                    h2.heading-secondary.heading-secondary--dark.color-white  Why We're Here

                .row
                    .col-1-of-2
                        p.paragraph.color-white  
                            |Dynamic Object Language Labs, Inc. was established in 1993 to promote the synergistic 
                            |combination of Dynamic and Open Languages, Object Oriented Programming, and Artificial Intelligence.

                        p.paragraph.color-white  
                            |We conduct advanced research and development aimed at providing a brighter and safer 
                            |future through advances in computer based technology and its application to real world problems. 
                            |DOLL’s central theme is to approach complex problems from a domain specific language perspective.

                    .col-1-of-2.u-margin-bottom-big 
                        p.paragraph.color-white  
                            |Our research interests include Advanced Languages, Artificial Intelligence, Computer Vision, Planning, 
                            |Cyber Security, and Expert Systems. DOLL has a long history of exciting work in Self Adaptive Software, 
                            |a software architecture concept that DOLL helped introduce in the 1990's.

                        p.paragraph.color-white  
                            |Self Adaptive Software has been used to build robust vision systems, intelligent spaces/rooms, 
                            |intelligent control systems, and cyber security systems. DOLL is currently performing on multiple 
                            |projects in the area of cyber security, including self adaptive and game theoretic approaches.

    //- section.section-future 
        .u-center-text.u-margin-bottom-big
            h2.heading-secondary.heading-secondary--white Where we're going
        .row
            .col-1-of-4
                .feature-box
                    <i class="feature-box__icon icon-basic-world"></i>
                    h3.heading-tertiary.u-margin-bottom-small cyber security
                    p.feature-box__text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Non praesentium iusto rem suscipit voluptatem reprehenderit tempora. 
            .col-1-of-4
                .feature-box
                    i.feature-box__icon.icon-basic-clessidre
                    h3.heading-tertiary.u-margin-bottom-small Productivity
                    p.feature-box__text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Non praesentium iusto rem suscipit voluptatem reprehenderit tempora. 
            .col-1-of-4
                .feature-box
                    i.feature-box__icon.icon-basic-rss
                    h3.heading-tertiary.u-margin-bottom-small Connect
                    p.feature-box__text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Non praesentium iusto rem suscipit voluptatem reprehenderit tempora. 
            .col-1-of-4
                .feature-box
                    i.feature-box__icon.icon-basic-watch
                    h3.heading-tertiary.u-margin-bottom-small A.I. and Teamwork 
                    p.feature-box__text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        | Non praesentium iusto rem suscipit voluptatem reprehenderit tempora. 


    section.section-tours.section-members
        .u-center-text.u-margin-bottom-big
            h2.heading-secondary Meet the team
        .row
            .col-1-of-3
                .card
                    .card__side.card__side--front
                        .card__picture.card__picture--1
                        h4.card__heading
                            span.card__heading-span.card__heading-span--1 Dr. Paul Robertson
                        .card__details
                            <ul> <li>Chief Scientist, President</li> </ul>
                    .card__side.card__side--back.card__side--back-1
                        .card__cta 
                            .card__price-box
                                p.card__description
                                    | Dr. Robertson, is working to apply self-adaptive software and machine learning principles to Computer Vision, 
                                    | and Perceptual Intelligence. His current research activities include self adaptive software architectures and technology, 
                                    | symbolic learning systems, perceptually enabled interfaces, physically embedded intelligent autonomous systems 
                                    | ,and advanced programming language environments and design. 
                                    | He was recently a senior scientist at Raytheon BBN Technologies.
                                    | He was a research scientist at the M.I.T Computer Science and Artificial Intelligence Laboratory (CSAIL)
                                    | He has worked on several DARPA funded programs, including IL, SRS, ANTS, SAFER, and EDCS. He was PI on SAFER and EDCS.
            .col-1-of-3
                .card
                    .card__side.card__side--front
                        .card__picture.card__picture--2
                        h4.card__heading
                            span.card__heading-span.card__heading-span--2 Prakash Manghwani
                        .card__details
                            <ul><li>Senior Architect</li></ul>
                    .card__side.card__side--back.card__side--back-4
                        .card__cta 
                            .card__price-box
                                p.card__description 
                                    |Before coming to DOLL, Prakash worked as a software engineer at PepperMob 
                                    |and before that as a software engineer at Raytheon BBN Technologies.  
                                    |Where he worked on Concurrent High performance applications development,  
                                    |Semantic Web Technologies,  Scalable, fast fault tolerant node failure detection, 
                                    |program composition for embedded systems, Sensor information technologies, 
                                    |and Open map design and implementation. Prakash holds a Bachelor of Science in Computer Engineering.

            .col-1-of-3
                .card
                    .card__side.card__side--front
                        .card__picture.card__picture--3
                        h4.card__heading
                            span.card__heading-span.card__heading-span--3 Dan Cerys
                        .card__details
                            <ul><li>Chief Architect</li></ul>
                    .card__side.card__side--back.card__side--back-3
                        .card__cta 
                            .card__price-box
                                p.card__description 
                                    |Dan is an experienced software development leader with experience
                                    | ranging from DARPA R&D programs to delivering mission-critical
                                    | applications used daily by thousands of users.
                                    | He has successfully implemented practical state-of-the-art computer
                                    | systems in a variety of problem domains, particularly in areas of 
                                    | logistics and cyber security.  Technical interests include: planning
                                    | and scheduling; user interfaces that distill large-scale, multi-attribute
                                    | data into actionable information; knowledge representation; and distributed
                                    | object-oriented systems.
        .row    
            .col-1-of-3
                .card
                    .card__side.card__side--front
                        .card__picture.card__picture--4
                        h4.card__heading
                            span.card__heading-span.card__heading-span--2 Thao Phuong
                        .card__details
                            <ul><li>Software Developer</li></ul>
                    .card__side.card__side--back.card__side--back-2
                        //-  cta = call to action 
                        .card__cta 
                            .card__price-box
                                p.card__description
                                    | Hi there, I'm Thao. If you want to see my past, check out my 
                                    a(href="http://www.thao-phuong.com/images/Resume.pdf") resume
                                    | . But the pass won't defind the future. Thus, I will tell you what I can do.
                                    | My biggest achievement is to continuously surpass my current self. 
                                    | Usually, people want to achieve the big next goal because they want to seek 
                                    | validation from others, which is a good thing. I am, too, a highly competitive 
                                    | person. But the more crucial part, in my perspective, lies in the ability to see 
                                    | myself as a real competitor. This way, I can always strive to become better and never stop learning.
                                    <br> <br>
                                    | I want to learn many things, ranging from web and app development to multiple machine learning aspects. 
                                    | However, all of my learnings serve only 1 purpose -- that is to make the world a better place. 
                                    | It doesn't have to be the next big thing. Tiny changes that bring little improvement to many 
                                    | lives are the idea. So if you also want to contribute as I do, don't hesitate to reach out!
            .col-1-of-3
                .card
                    .card__side.card__side--front
                        .card__picture.card__picture--5
                        h4.card__heading
                            span.card__heading-span.card__heading-span--1 DR. ROBERT LADDAGA
                        .card__details
                            <ul><li>Consulting Scientist</li></ul>
                    .card__side.card__side--back.card__side--back-1
                        .card__cta 
                            .card__price-box
                                p.card__description 
                                    | To be updated



        //- .test-div-rel 
        //-     .test-text
        //-         p |Before coming to DOLL, Prakash worked as a software engineer at PepperMob 
        //-             |and before that as a software engineer at Raytheon BBN Technologies.  
        //-             |Where he worked on Concurrent High performance applications development,  
        //-             |Semantic Web Technologies,  Scalable, fast fault tolerant node failure detection, 
        //-             |program composition for embedded systems, Sensor information technologies, 
        //-             |and Open map design and implementation. Prakash holds a Bachelor of Science in Computer Engineering.    