extends base

block styles
    link(rel='stylesheet' href='css/about.css')

block content
    // HEADER 

    .background-about 
        .blur-about
            include __header
            .whySection.section
                h1 WHY WE'RE HERE 
                h6 We believe in augmenting human intelligence, not replacing it.

                .row.description 
                    .col-6
                        p Dynamic Object Language Labs, Inc. was established in 1993 to promote the synergistic 
                            | combination of Dynamic and Open Languages, Object Oriented Programming, and Artificial 
                            | Intelligence.  

                        p We conduct advanced research and development aimed at providing a brighter 
                            | and safer future through advances in computer based technology and its application to 
                            | real world problems.  DOLL’s central theme is to approach complex problems from a domain 
                            | specific language perspective. 
                    .col-6
                        p Our research interests include Advanced Languages, 
                            | Artificial Intelligence, Computer Vision, Planning, Cyber Security, and Expert Systems.  
                            | DOLL has a long history of exciting work in Self Adaptive Software, a software architecture 
                            | concept that DOLL helped introduce in the 1990's. 
                        p Self Adaptive Software has been used to 
                            | build robust vision systems, intelligent spaces/rooms, intelligent control systems, 
                            | and cyber security systems. DOLL is currently performing on multiple projects in the area 
                            | of cyber security, including self adaptive and game theoretic approaches.

    .ourTeamSection.section  
        p Thao Phuong 
        p Paul Robertson 


    .futureGoalsSection.section 
        h1 WHERE WE'RE GOING 


