extends base 
block content
    header.header.header--bg-error
        .header__text-box
            main.main 
                .error 
                    .error__title 
                        h2.heading-secondary.heading-secondary--error Uh oh! Something went wrong! 
                    .error_msg= msg