extends base

block styles
    link(rel='stylesheet' href='css/homepage.css')

block content
    // HEADER 
    .section1 
        .background
            .blur
                include __header

                .introduction 
                    h1 CONTEXT TUNING.
                    p nform context-dependent tunin 
                    p.space edsrs towards ph hours.
                    .button 
                        a.btn(href="/") Learn more 

    //- Each section2 is a solution 
    .section2 
        .d-flex.justify-content-center 
            h1 Active Perception

        .description 
            p.pb-3 Active perception draws on models to inform context-dependent tuning of sensors, 
                | direct sensors towards phenomena of greatest interest, to follow up initial alerts 
                | from cheap, inaccurate sensors with targeted use of expensive, accurate sensors, 
                | and to intelligently combine results from sensors with context information to 
                | produce increasingly accurate results. The model-based approach deploys sensors 
                | to build structured interpretations of situations to meet mission-centered decision making requirements.

            h4 Real-world applications

            .row.d-flex.justify-content-center
                .col-4.flex-column.justify-content-center
                    i.fas.fa-american-sign-language-interpreting.icon-size
                    p Contrary to popular belief
                .col-4.flex-column.justify-content-center
                    i.fas.fa-shield-alt.icon-size
                    p Lorem Ipsum is not simply random text
                .col-4.flex-column.justify-content-center
                    i.fas.fa-file-signature.icon-size
                    p It has roots in a piece of classica.

    .section2.mm
        .d-flex.justify-content-center 
            h1 Mission modeling

        .description 
            p.pb-3 Active perception draws on models to inform context-dependent tuning of sensors, direct sensors towards phenomena of greatest interest, to follow up initial alerts from cheap, inaccurate sensors with targeted use of expensive, accurate sensors, and to intelligently combine results from sensors with context information to produce increasingly accurate results. The model-based approach deploys sensors to build structured interpretations of situations to meet mission-centered decision making requirements.
            h4 Real-world applications

            .row.d-flex.justify-content-center
                .col-4.flex-column.justify-content-center
                    i.fas.fa-american-sign-language-interpreting.icon-size
                    p Contrary to popular belief
                .col-4.flex-column.justify-content-center
                    i.fas.fa-shield-alt.icon-size
                    p Lorem Ipsum is not simply random text
                .col-4.flex-column.justify-content-center
                    i.fas.fa-file-signature.icon-size
                    p It has roots in a piece of classica.

    .section2
        .d-flex.justify-content-center 
            h1 Mission modeling

        .description 
            p.pb-3 Active perception draws on models to inform context-dependent tuning of sensors, direct sensors towards phenomena of greatest interest, to follow up initial alerts from cheap, inaccurate sensors with targeted use of expensive, accurate sensors, and to intelligently combine results from sensors with context information to produce increasingly accurate results. The model-based approach deploys sensors to build structured interpretations of situations to meet mission-centered decision making requirements.
            h4 Real-world applications

            .row.d-flex.justify-content-center
                .col-4.flex-column.justify-content-center
                    i.fas.fa-american-sign-language-interpreting.icon-size
                    p Contrary to popular belief
                .col-4.flex-column.justify-content-center
                    i.fas.fa-shield-alt.icon-size
                    p Lorem Ipsum is not simply random text
                .col-4.flex-column.justify-content-center
                    i.fas.fa-file-signature.icon-size
                    p It has roots in a piece of classica.


    .section3
        h3 Latest News

        .news
            a(aria-current="page" href="#") Palantir Wins FDA Contract to Power Drug Review, Inspections
            p Bloomberg - December 7, 2020

            a(aria-current="page" href="#") Palantir Wins FDA Contract to Power Drug Review, Inspections
            p Bloomberg - December 7, 2020

            a(aria-current="page" href="#") Palantir Wins FDA Contract to Power Drug Review, Inspections
            p Bloomberg - December 7, 2020

            a(aria-current="page" href="#") Palantir Wins FDA Contract to Power Drug Review, Inspections
            p Bloomberg - December 7, 2020

        .button 
            a.btn(href="/") Read more news




