
extends base

block content
    header.header.header--bg-post
        .header__logo-box
            a(href="/" target="")
                img.header__logo(src="/img/logo_white_doll.png" alt="logo")

        .header__text-box.u-margin-top-huge
            h1.heading-primary
                span.heading-primary--title DOLL Inaugurates a New Robot Laboratory To Study Developmental Learning
                h2.color-white.h2-size By Dr. Paul Robertson Dynamic Object Language Labs Inc.
                h3.color-white.h3-size 27 November 2019 • 6 min read

    section.non-decoration
        .row.section-post 
            .col-3-of-4
                img.post-photo-left(src="/img/post/DOLLTeam.png" alt="Initial Team") 
                p.paragraph Lexington, Massachusetts — The new laboratory, L.A.I.R., Laboratory for Affective andIndependent Robotics, is a space where robots can learn by exploring their environment.Long term experiments involving robots with differing capabilities and sizes will inhabitthis space where they can interact with each other, and explore how to interact withobjects in the laboratory.
                    | <br> 
                    | <br> 
                    | While much is said about autonomy, today’s robots exhibit very little.  The majority ofwhich simply perform human programmed repetitive tasks, which involve little or nodecision making skills on the part of the robot.   Many, so called robots, are actuallyteleoperated.  Additionally, the cost of making robots perform a useful function is a hugebarrier to their adoption.  Robots should not be programmed to, for example, manipulateobjects, they should learn how to be useful. They should be driven by an “intrinsicmotivation” to learn and a desire to collaborate.
                    | <br> 
                    | <br> 
                    | This work is in the spirit of Alan Turing, who said: “Instead of trying to produce aprogramme to simulate the adult mind, why not rather try to produce one whichsimulates the child's? If this were then subjected to an appropriate course of educationone would obtain the adult brain. ...“.
                    | <br> 
                    | <br> 
                    | We believe that the next wave in intelligent robots will be driven by robots that exhibitgreater independence to act and to learn. The LAIR is our first step in paving the waytowards this future.   Our robots will be able to learn over long periods of time, in apurpose built laboratory.  DOLL is in talks to establish collaborative relationships, whichwill be announced at a later date.

                h1 Dynamic Object Language Labs Inc.
                p.paragraph
                    |Dynamic Object Language Labs Inc. (DOLL) was founded in 1993.  DOLL performsadvanced research in the field of Artificial Intelligence and advanced Computer Scienceincluding advanced modeling languages and domain specific languages for reasoningabout complex systems.  DOLL’s principle research efforts are in Robotics, ComputerVision, and Cyber Security. For more information, visit https://www.dollabs.com.

                p.paragraph
                    | Original Post 
                    a(href="/img/post/DOLLPressRelease-LAIR-2019.pdf") Click here

            .col-1-of-4.related-post
                h2.h2-size Recent news
                a.block(href="/post") Lorem ipsum dolor sit amet con adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet con adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet con adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>
                <hr>
                <br>
                h2.h2-size Recent projects
                a.block(href="/post") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet consectetur adipisicing elit.

block footer
    include __footer
