
extends base

block content
    header.header.header--bg-post
        .header__logo-box
            a(href="/" target="")
                img.header__logo(src="/img/logo_white_doll.png" alt="logo")

        .header__text-box.u-margin-top-huge
            h1.heading-primary
                span.heading-primary--title DOLL Inaugurates a New Robot Laboratory To Study Developmental Learning
                h2.color-white.h2-size By Dr. Paul Robertson Dynamic Object Language Labs Inc.
                h3.color-white.h3-size 23 January 2020 • 6 min read

    section.non-decoration
        .row.section-post 
            .col-3-of-4
                img.post-photo-left(src="/img/post/DOLLTeam.png" alt="Initial Team") 
                p.paragraph 
                    | Lexington, Massachusetts —A new research and educational partnership with UCLy-ESQESE (Catholic University of Lyon) has been established to further the joint, machine learning for robotics,  research goals of Dr. Paul Robertson, chief scientist at DOLL Inc. and Dr. Olivier Georgeon (ESQESE) researcher at the Group of Epistemology and Ethics of Sciences and Technologies (GEEST) of the Biosciences, Technologies and Ethics pole.
                    | <br> 
                    | <br> 
                    | The Research Project, called INIT (Incremental Natural Interactions on Turtlebot), focuses on developmental AI — a branch of AI research that aims to create robots that can learn like babies,through free interaction with the environment. The objective is to develop algorithms allowing a robot to generate natural and ethical behaviors. Bi-costal experimental platforms have been established at UCLy and in DOLL’s recently established robot learning laboratory, LAIR.
                    | <br> 
                    | <br> 
                    | This project explores new scientific approaches to overcome the limits of current supervised machine learning algorithms (reducing the amount of labeled data required, as well as reducing instability and poor robustness due to poor quality data, etc.) by allowing a robot to learn. with a minimal guidance.
                    | <br> 
                    | <br> 
                    | In order to be effective and specifically, to be deployable in new domains without machine learning specialists to oversee their learning,  robot learning should be largely online and incremental, it should be self-motivated and self-supervised, unlike the slow, offline learning thathas, recently,  occupied much of the attention of the machine learning community.
                    | <br> 
                    | <br> 
                    | An initial student, from Lyon, do an internship at DOLL during the summer of 2020.

                h1 Dynamic Object Language Labs Inc.
                p.paragraph
                    | Dynamic Object Language Labs Inc. (DOLL) was founded in 1993.  DOLL performsadvanced research in the field of Artificial Intelligence and advanced Computer Scienceincluding advanced modeling languages and domain specific languages for reasoningabout complex systems.  DOLL’s principle research efforts are in Robotics, ComputerVision, and Cyber Security. For more information, visit https://www.dollabs.com.

                p.paragraph
                    | Original Post 
                    a(href="/img/post/DOLLPressRelease-UCLy-2020.pdf") Click here

            .col-1-of-4.related-post
                h2.h2-size Recent news
                a.block(href="/post") Lorem ipsum dolor sit amet con adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet con adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet con adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <br>
                <hr>
                <br>
                h2.h2-size Recent projects
                a.block(href="/post") Lorem ipsum dolor sit amet consectetur adipisicing elit.
                a.block(href="/post") Lorem ipsum dolor sit amet consectetur adipisicing elit.

block footer
    include __footer
