<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
html
  head
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <title>The 2nd annual International Workshop on Self-Supervised Learning</title>
    style.
      html { 
        margin: 0;
        padding: 0; 
      }
      body {
        background-color: linen;
        font-family: 'Raleway', sans-serif;
      }

      h1 {
        color: purple;
        margin-left: 40px;
      }

  body
    .div(style="text-align:center;margin:3rem;witdh:100%;")
      <img src="/img/post/iwssl.logo.png" style="width:90%">
        h1 IWSSL 2021: Aug 11 to 13th, 2021 
        h2 The Second Annual International Workshop on Self-Supervised Learning

    .div(style="text-align:left;width:90%;margin:3rem;")
      p How do intelligent systems, such as human beings and software agents, learn about the world? Animals learn about themselves and their environment, and how the two interact effectively and efficiently, through self-motivated exploration and experimentation. High-level learning, e.g. the use of specialized tools, can be learned both by example and by building upon existing learned competencies. Approaches exploring mixed learning mechanisms in open worlds in artificial intelligence (AI) has for the longest time seemed out or reach. An overemphasis on particular topics, e.g. machine learning, has lead fundamental cognitive faculties found in nature to receive less attention than they deserve, including cumulative (online, life-long) learning, attention, analogy making, and creativity. A self-supervised learner in a complex, open world must possess a variety of cognitive processes - including these, and more - to allow it to learn a variety of new skills, develop new cognitive capabilities, compare situations and objects for various purposes, and how to use those objects as tools — through exploration. </p>
      p In the rush to produce high-performing 'intelligent' systems (e.g. problem solvers and classifiers) with immediate appliation, AI has relied on hand-crafted frameworks, coded using human-readable programming languages (e.g PDDL, propositional logic, etc.). Hand-crafted systems are notoriously brittle as the number of rules tends to be small and overly rigid, underspecifying even moderately complex tasks and environments. Even modern machine learning methods themselves rely extensively on hand-crafting and close supervision, leaving unaddressed many cognitive processes required for AI systems with broader, more general skills. In short, current AI paradigms seem inadequate for realizing the advanced intelligent robotic systems of the future that the founding father of AI hoped to see.</p>
      p Future AI systems must be able to adapt to new environments, be more robust in the face of complexity and uncertainty, and will improve with their experience in the real world. Their control and learning strategies, whatever form they may take, may rely on a variety of knowledge representation schemes to address incremental, open-ended learning and cognitive development. Rules learned through active exploration or mimicking tend to be more numerous and less brittle than hand-crafted ones. Self-supervised learning is squarely in our path towards more general machine learning; time will tell whether self-motivated learning will fuel the next wave of intelligent systems or the one after it. </p>
      p To make sure such systems materialize within the next decades we must revive the original goals of the field by raising the bar and broadening the range of target cognitive features existant in AI systems. Participants in IWSSL 2021 will discuss the development and evaluation of self-supervised learners, setting a research agenda for a wide-horizon long-view developmental approach to future intelligent systems and robots. </p>
      br

      h2 Venue 
      ul
        li The IWSSL 2021 will be held entirely online.
        li Information about the online forum will be sent out two days before the workshop begins. </ul>
      br

      h2 Registration 
      ul
        li This is an invitation-only workshop. If you have been selected for participation in this workshop we have already contacted you.
        li Cost: IWSSL 2021 is an all-online event and is FREE OF CHARGE.
        li <a href="https://forms.gle/QAuyQmdcZHDJk5Gy6" target="form">Click here to confirm your participation as non-presenting attendee.</a>
        li <a href="https://forms.gle/QAuyQmdcZHDJk5Gy6" target="form">Click here as contributing attendee.</a>
        li <a href="https://forms.gle/QAuyQmdcZHDJk5Gy6" target="form">Click here to submit your abstract (required) and slides (optional).</a>
        li Inviting Collaborators to the online event: If you would like to invite a collaborator, lab-member or student to attend the online seminars, please ask them to register or contact teh Organizing Committee (iwssl@bcdoll.com).
      br

      h2 Papers &amp; Publication
      p Papers will be published in a collection in the Proceedings of Machine Learning Research (<a href="http://proceedings.mlr.press/" target="other">http://proceedings.mlr.press/<a>).
      ul
        li Each participant is invited (but not required) to submit a paper before the workshop to stimulate discussion.
        li Papers will be published in the  <a href="http://proceedings.mlr.press/" target="other">Proceedings of Machine Learning <a>.  
        ul
          li Please download <a href="https://ctan.org/tex-archive/macros/latex/contrib/jmlr" target="_blank">the LaTeX templates</a> for your submissions.
        li Pre-workshop versions of the papers will be made available online to all participants (only), before the workshop.
        ul 
          li A publication-ready final version will be due four weeks after the workshop, to allow submission to be updated in light of the workshop discussions.   </ul>
      br

      h2 Important Dates
      ul
        li Last day of registration: July 1st, 2021
        li Last day of submitting abstract: July 1st, 2021
        li Feedback from Organizing Committe to authors: Aug 1st, 2021
        li Workshop held: August 13 and 14, 2021   
      br

      h2 Organzing Committee
      ul
        li Dr. Paul Robertson, DOLL Labs
        li Dr. Kristinn R. Thorisson, Reykjavik U. and the Icelandic Institute for Intelligent Machines
        li Dr. Milan Minsky, Leela AI
        li Dr. Olivier Georgeon, Catholic U. of Lyon
      p If you have any questions, please send an email to iwssl@bcdoll.com as soon as possible so that we can inform you of any updates related to the workshop.


