.section-about-us {
  padding-top: 20rem;
  padding-bottom: 15rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.6),
    rgba($color-primary-dark, 0.6)
  );
  height: 100%;
}

.section-about-us p {
  font-size: 1.7rem;
  font-weight: 500;
}

.section-members {
  padding: 15rem 0 15rem 0 !important;

  @media only screen and (max-width: 56.25em) {
    margin: 0;
    padding: 0rem 0 15rem 0;
  }
}

.section-future {
  margin-top: -10rem;
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.3),
      rgba($color-primary-dark, 0.3)
    ),
    url(../img/headerBG3.jpg);
  background-size: cover;
  transform: skewY(-6.65deg);

  // > direct children of this section
  // * all children of this section
  & > * {
    transform: skewY(7deg);
  }

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.test-div-rel {
  position: relative;
  background-color: black;
}

.test-text {
  position: absolute;
}

.text-box {
  position: relative;
  text-align: center;
}
