.icon-contact {
  font-style: normal;
  display: block;
  font-size: 1.5em;
  padding: 1em;
  letter-spacing: 1px;
}

.contact-info {
  padding: 10rem;
  padding-left: 7rem;

  h1 {
    padding-bottom: 1.5rem;
  }
}

.section-map {
  position: relative;
  height: 55rem;
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
}

#map {
  font-size: $default-font-size;
  color: $color-primary-light;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
