.section-post {
  height: 100%;
  margin: 10rem auto;

  @include respond(tab-port) {
    padding: 0rem 0;
  }
}

.post-photo-right {
  margin: 1rem;
  float: right;
  max-width: 40%;
  min-width: 300px;
  height: auto;
}

.post-photo-left {
  margin: 1rem;
  float: left;
  max-width: 40%;
  min-width: 300px;
  height: auto;
}

.block {
  margin: 1.5rem 0rem;
  display: block;
}

.post-body {
  padding: 1rem;
  padding-right: 3rem;
  border-right: 1px solid rgba(119, 119, 119, 0.541);
}

.related-post {
  margin-left: -2rem;
  padding-top: 1rem;
  font-size: 1.5rem;

  a:link {
    text-decoration: none;
    color: $color-primary-light;
  }

  a:visited {
    text-decoration: none;
    color: $color-primary-light;
  }

  a:hover {
    text-decoration: none;
    color: $color-primary-dark;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-0.2rem);
  }

  a:active {
    text-decoration: none;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    transform: translateY(-0.2rem);
  }
}

.h2-size {
  font-size: 1.8rem;
}

.h3-size {
  font-size: 1.5rem;
}
